<div class = "jumbotron">
	<h1>History of Pinteresting</h1>


<p>This is where I will write the history of this site. </p>


<p>This site was developed in conjunction with completing the <a href= "www.30dayrails.com"> 30 days to Rails </a> course. 

</div>